@import './base.css';

div {
  background-color: #fcd9ce;
  color:darkslateblue;
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 5em;
  width: 5em;
  text-align: center;
}
.cat {
  width: 20em;
}